USE MASTER
GO
IF NOT EXISTS (SELECT * FROM SYS.DATABASES WHERE NAME = 'APP_DATA')
BEGIN
CREATE DATABASE APP_DATA;
END
GO

USE APP_DATA
GO

IF NOT EXISTS (SELECT * FROM APP_DATA.SYS.TABLES WHERE NAME = 'FILE_DATA')
BEGIN
CREATE TABLE FILE_DATA
(
	FILE_DATE		DATE NOT NULL
	,COL_ONE		VARCHAR(500)
	,COL_TWO     	VARCHAR(500)
	,COL_THREE     	VARCHAR(500)
	,COL_FOUR     	VARCHAR(500)
	,COL_FIVE     	VARCHAR(500)
	,COL_SIX     	VARCHAR(500)
	,COL_SEVEN     	VARCHAR(500)
	,COL_EIGHT     	VARCHAR(500)
	
)
END
GO

IF NOT EXISTS (SELECT * FROM APP_DATA.SYS.TABLES WHERE NAME = 'FILE_NAME')
BEGIN
CREATE TABLE FILE_NAME
(	
	DATA_FILE_NAME VARCHAR(250) NOT NULL UNIQUE,
)
END
GO